<ol-template>
  <ol-form-card title="{{title}}" subtitle="{{subtitle}}" tamanhoCard="8">
    <form [formGroup]="form">
      <div class="row mt-3 mb-3">
        <div class="col-md-6">
          <mat-form-field>
            <input autofocus formControlName="title" matInput placeholder="Título do evento" type="text">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="description" matInput placeholder="Descrição do evento" type="text">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="video" matInput placeholder="Link do vídeo do evento" type="text">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="date" matInput type="datetime-local" placeholder="Data do evento">
          </mat-form-field>
        </div>
      </div>

      <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="cadastrar()">Cadastrar</button>
      <button mat-raised-button type="button" class="btn btn-link pull-right" (click)="retornaLista()">Cancelar</button>
      <div class="clearfix"></div>
    </form>
  </ol-form-card>
</ol-template>
