<div class="root">
  <nav class="navbar navbar-expand-lg navbar-absolute text-white fixed-top fade-in">
    <div class="container">
      <div class="navbar-wrapper">
        <a class="navbar-brand mb-4">
          <img src="/assets/img/logo-white.png" class="logo" alt="Logo">
        </a>
      </div>
    </div>
  </nav>

  <div class="container">
    <ol-login-form></ol-login-form>
  </div>

  <footer class="footer fade-in">
    <div class="container">
      <span class="text-white">
        © 2021 Copyright: Olerama Software /
      </span>
      <span class="ml-auto">
        <a href='https://br.freepik.com/fotos/mao'>Mão foto criado por wavebreakmedia_micro - br.freepik.com</a>
      </span>
    </div>
  </footer>
</div>
