/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/material-dashboard.scss";
@import './assets/scss/material-icons/iconfont/material-icons.scss';
@import './assets/scss/fade-in.scss';

html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}